In [1]:
import pandas as pd
import numpy as np

In [5]:
restro=pd.read_csv("Zomato_Kolkata_Restaurants (3.0).csv")

In [6]:
restro=restro[['Name','Cuisines','Area','Dinner Ratings','AverageCost','Image']]
restro.head(1)

,Name,Cuisines,Area,Dinner Ratings,AverageCost,Image
0,Jyoti Vihar,South Indian,"Camac Street Area, Kolkata",4.4,300,https://i0.wp.com/yummraj.com/wp-content/uploa...

In [7]:
#check missing data
restro.isnull().sum() #use .dropna(inplace=True) to remove if present

Name                 0
Cuisines             0
Area                 0
Dinner Ratings       0
AverageCost          0
Image             4864
dtype: int64

In [8]:
#check duplicate data
restro.duplicated().sum()
restro.drop_duplicates(inplace=True)

In [9]:
#To remove space in between words CAMAC STREET to CAMACSTREET
restro['Area'] = restro['Area'].apply(lambda x: ''.join(x).replace(" ", "").replace(",Kolkata", "").replace("Area","")) #removed ,Kolkata
print(restro['Area'][0])
restro['Cuisines'] = restro['Cuisines'].apply(lambda x: ''.join(x).replace(" ", ""))
restro.head()

CamacStreet

,Name,Cuisines,Area,Dinner Ratings,AverageCost,Image
0,Jyoti Vihar,SouthIndian,CamacStreet,4.4,300,https://i0.wp.com/yummraj.com/wp-content/uploa...
1,WOW! Momo,"Momos,FastFood,Tibetan",ParkStreet,4,350,NaN
2,Zam Zam,"Biryani,Rolls",ParkCircus,4.4,500,NaN
3,Daily Bhoj,Bengali,Topsia,-,150,NaN
4,Behnam,"Biryani,NorthIndian,Mughlai,Rolls,Kebab,Awadhi...",Topsia,-,200,NaN