In [108]:
import pandas as pd
import numpy as np
restro=pd.read_csv("Zomato_Kolkata_Restaurants_Updated.csv")
#restro.info() #1 to see all columns for row 1
restro=restro[['Name','Cuisines','Area','Dinner Ratings','AverageCost','Image']]
restro.head(1)

,Name,Cuisines,Area,Dinner Ratings,AverageCost,Image
0,Jyoti Vihar,South Indian,"Camac Street Area, Kolkata",4.8,300,https://i0.wp.com/yummraj.com/wp-content/uploa...

In [109]:
#check missing data
restro.isnull().sum()
#restro.dropna(axis=0, how='any', inplace=False)
restro.head()
restro.shape

(4923, 6)

In [110]:
#check duplicate data
restro.duplicated().sum()
restro.drop_duplicates(inplace=True)

In [111]:
#To remove space in between words CAMAC STREET to CAMACSTREET
restro['Area'] = restro['Area'].apply(lambda x: ''.join(x).replace(" ", "").replace(",Kolkata", "").replace("Area","")) #removed ,Kolkata
print(restro['Area'][0])
restro['Cuisines'] = restro['Cuisines'].apply(lambda x: ''.join(x).replace(" ", ""))
restro.head(1)

CamacStreet

,Name,Cuisines,Area,Dinner Ratings,AverageCost,Image
0,Jyoti Vihar,SouthIndian,CamacStreet,4.8,300,https://i0.wp.com/yummraj.com/wp-content/uploa...

In [112]:
#to convert string to list
restro['Cuisines']=restro['Cuisines'].apply(lambda x:x.split()) 
restro['AverageCost']=restro['AverageCost'].astype(str)
restro['Area']=restro['Area'].apply(lambda x:x.split())
restro['AverageCost']=restro['AverageCost'].apply(lambda x:x.split())
restro.head(1)

,Name,Cuisines,Area,Dinner Ratings,AverageCost,Image
0,Jyoti Vihar,[SouthIndian],[CamacStreet],4.8,[300],https://i0.wp.com/yummraj.com/wp-content/uploa...

In [113]:
#creating tags column
restro['tags']=restro['Area']+restro['Cuisines']+restro['AverageCost']

In [114]:
new_df=restro[['Area','tags','Name']]
restro['Area'] = restro['Area'].apply(''.join).apply(''.join)
restro['Name'] = restro['Name'].apply(''.join)
restro['Cuisines'] = restro['Cuisines'].apply(''.join).apply(''.join)
restro['AverageCost'] = restro['AverageCost'].apply(''.join)
new_df.head()

,Area,tags,Name
0,[CamacStreet],"[CamacStreet, SouthIndian, 300]",Jyoti Vihar
1,[ParkStreet],"[ParkStreet, Momos,FastFood,Tibetan, 350]",WOW! Momo
2,[ParkCircus],"[ParkCircus, Biryani,Rolls, 500]",Zam Zam
3,[Topsia],"[Topsia, Bengali, 150]",Daily Bhoj
4,[Topsia],"[Topsia, Biryani,NorthIndian,Mughlai,Rolls,Keb...",Behnam

In [115]:
new_df['tags'][0]

['CamacStreet', 'SouthIndian', '300']

In [116]:
#converting tag list to string again
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))
print(new_df.head())

            Area                                               tags  \
0  [CamacStreet]                        CamacStreet SouthIndian 300
1   [ParkStreet]              ParkStreet Momos,FastFood,Tibetan 350
2   [ParkCircus]                       ParkCircus Biryani,Rolls 500
3       [Topsia]                                 Topsia Bengali 150
4       [Topsia]  Topsia Biryani,NorthIndian,Mughlai,Rolls,Kebab...

          Name
0  Jyoti Vihar
1    WOW! Momo
2      Zam Zam
3   Daily Bhoj
4       Behnam

C:\Users\pubal\AppData\Local\Temp\ipykernel_11584\492355143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [117]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
new_df.head()

C:\Users\pubal\AppData\Local\Temp\ipykernel_11584\510464446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

,Area,tags,Name
0,[CamacStreet],camacstreet southindian 300,Jyoti Vihar
1,[ParkStreet],"parkstreet momos,fastfood,tibetan 350",WOW! Momo
2,[ParkCircus],"parkcircus biryani,rolls 500",Zam Zam
3,[Topsia],topsia bengali 150,Daily Bhoj
4,[Topsia],"topsia biryani,northindian,mughlai,rolls,kebab...",Behnam

In [118]:
new_df['tags'][0]

'camacstreet southindian 300'

In [119]:
#transform given text to vectors- matrix containing count of each unique word
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000)

In [120]:
vectors=cv.fit_transform(new_df['tags']).toarray() #converting sparse matrix to numpy array

In [121]:
vectors.shape

(4913, 283)

In [122]:
cv.get_feature_names_out() #most freq features

array(['100', '1000', '1050', '1100', '1200', '1300', '1400', '150',
       '1500', '1600', '1700', '1800', '1900', '200', '2000', '2100',
       '2200', '2300', '2400', '250', '2500', '2700', '300', '3000',
       '3100', '350', '400', '4000', '450', '50', '500', '550', '600',
       '650', '700', '750', '800', '850', '900', '950', 'acropolismall',
       'afghan', 'ajoynagar', 'alipore', 'american', 'andhra', 'arabian',
       'asian', 'assamese', 'awadhi', 'axismall', 'baghajatin',
       'baguihati', 'bakery', 'ballygunge', 'bangladeshi', 'bangur',
       'barabazar', 'baranagar', 'barasat', 'barfood', 'barrackpore',
       'bbq', 'behala', 'belghoria', 'beliaghata', 'bengali', 'beverages',
       'bhawanipur', 'bihari', 'biryani', 'bowbazar', 'broadwaymall',
       'bubbletea', 'burger', 'burmese', 'cafe', 'camacstreet',
       'cantonese', 'carry', 'chambersmall', 'chandnichowk',
       'charnokcity', 'chettinad', 'chinarpark', 'chinese', 'chowringhee',
       'citycentre1', 'citycentre2mall', 'clubecovista', 'coffee',
       'collegestreet', 'continental', 'dalhousiebbdbagh',
       'desapriyapark', 'desovrani', 'desserts', 'dhakuria',
       'diamondplazamall', 'dlfitpark', 'downtownmall', 'drinksonly',
       'dumdum', 'ecopark', 'elgin', 'emall', 'enclave', 'entally',
       'esplanade', 'european', 'fastfood', 'filipino', 'fingerfood',
       'fortknox', 'forummall', 'frozenyogurt', 'garia', 'gariahat',
       'girishpark', 'goan', 'goldentulip', 'golfgreen', 'golpark',
       'greek', 'gtroad', 'gujarati', 'hatibagan', 'hazra', 'healthyfood',
       'hilandpark', 'hindustanpark', 'hotdogs', 'hotelcelesta',
       'hotelthesojourn', 'howardjohnson', 'howrah', 'hyderabadi',
       'icecream', 'indismarthotel', 'italian', 'itcsonar', 'jadavpur',
       'japanese', 'jessoreroad', 'jodhpurpark', 'joka', 'juices',
       'kaikhali', 'kalighat', 'kalikapur', 'kalindi', 'kankurgachi',
       'kasba', 'kebab', 'kenilworthhotel', 'kerala', 'kestopur',
       'kidderpore', 'korean', 'lakegardens', 'lakemall', 'lakemarket',
       'laketown', 'lebanese', 'liluah', 'loudonstreet', 'lucknowi',
       'machuabazar', 'maharashtrian', 'malaysian', 'malwani',
       'mangalorean', 'maniktala', 'manisquaremall', 'mediterranean',
       'metrocash', 'metroplazashoppingcentre', 'metropolismall', 'mex',
       'mexican', 'middleeastern', 'mintopark', 'mishti', 'mithai',
       'modernindian', 'momos', 'mongolian', 'mughlai', 'naga',
       'nagerbazar', 'naktala', 'narendrapur', 'nepalese', 'newalipore',
       'newmarket', 'newtown', 'northeastern', 'northindian', 'novotel',
       'o2vip', 'odia', 'oriental', 'paan', 'paddapukur', 'paikpara',
       'pantaloons', 'parkcircus', 'parkstreet', 'parsi', 'pasta',
       'picnicgarden', 'pipaltreehotel', 'pizza', 'princeanwarshahroad',
       'questmall', 'rajarhat', 'rajasthani', 'rashbehariavenue',
       'rdbboulevard', 'regentaorko', 'roastchicken', 'rolls',
       'rubyhospital', 'russelstreet', 'russian', 'salad', 'salkia',
       'saltee', 'saltlake', 'sandwich', 'santoshpur', 'sciencecity',
       'seafood', 'sealdah', 'sector1', 'sector2', 'sector3', 'sector4',
       'sector5', 'shake', 'shibpur', 'shobhabazar', 'shyambazar',
       'silverspringarcade', 'sinthi', 'sonarpur', 'southcitymall',
       'southernavenue', 'southindian', 'sshotel', 'steak', 'streetfood',
       'sushi', 'swimmingpoolchaat', 'taltala', 'tangra', 'taratala',
       'tea', 'tex', 'thai', 'thakurpukur', 'theastorhotel',
       'theatreroad', 'thecornercourtyard', 'thefloatelhotel',
       'thelastmetro', 'thepark', 'thepeerlessinn', 'thesonnet',
       'thestadel', 'thewestinkolkatarajarhat', 'tibetan', 'tollygunge',
       'topsia', 'turkish', 'ultadanga', 'upohartowncentre', 'vietnamese',
       'viproad', 'visitelhotel', 'waffle', 'wellesley', 'wraps'],
      dtype=object)

In [123]:
#finding similarity
from sklearn.metrics.pairwise import cosine_similarity

In [124]:
similarity=cosine_similarity(vectors)

In [125]:
similarity[0] #check similarity,see similarity of first movie with first movie is coming as 1

array([1.        , 0.        , 0.        , ..., 0.        , 0.51639778,
       0.        ])

In [126]:
#enumerate is used to get the index and its distance side by side and then convert to list
list(enumerate(similarity[0])) 

sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:6] #sorting from index 1

[(771, 0.7071067811865477),
 (314, 0.6666666666666669),
 (361, 0.6666666666666669),
 (469, 0.6666666666666669),
 (687, 0.6666666666666669)]

In [127]:
def recommend(area):
    area_index = new_df[new_df['Name'] == area].index[0]  # Getting index of the given area
    print(restro.iloc[area_index])
    distances = similarity[area_index]
    area_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    data = []
    for i in area_list:
        item = []
        area_index = i[0]

        # Check if area_index is a valid index in new_df
        if area_index < len(new_df):
            temp_df = restro.iloc[area_index]

            item.append(temp_df['Name'])
            item.append(temp_df['Area'])
            item.append(temp_df['Cuisines'])
            item.append(temp_df['Dinner Ratings'])
            item.append(temp_df['AverageCost'])
            item.append(temp_df['Image'])

            data.append(item)
        else:
            print(f"Invalid index: {area_index}")

    return data

In [128]:
recommend('BarBQ')

Name                                                          BarBQ
Cuisines                                  Chinese,NorthIndian,Asian
Area                                                     ParkStreet
Dinner Ratings                                                  4.8
AverageCost                                                    1200
Image             https://lh6.ggpht.com/--yNm3NMmwoo/TxHUIlBScrI...
tags                  [ParkStreet, Chinese,NorthIndian,Asian, 1200]
Name: 87, dtype: object

[['Magnolia',
  'ParkStreet',
  'Chinese,NorthIndian,Continental',
  4.8,
  '1200',
  'https://d2dzi65yjecjnt.cloudfront.net/406003.jpg'],
 ['Peter Hu?',
  'ParkStreet',
  'Asian',
  4.8,
  '1200',
  'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsdw8KlDKmUfstXteaPuypCB-XpivrKFcXL4cj1VB0hAId5zybXxF-53fq3zOP48-Qcw0&usqp=CAU'],
 ['Flavours Of China',
  'ParkStreet',
  'Chinese,NorthIndian,Mughlai,Asian',
  4.7,
  '900',
  'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/q/p3840-149035509458d50396c562f.jpg?tr=tr:n-large'],
 ['Dash',
  'CityCentre1,Sector1,SaltLake',
  'Chinese,Asian,NorthIndian',
  4.6,
  '1200',
  'https://media-cdn.tripadvisor.com/media/photo-s/21/6f/9e/d1/inside-bar-area.jpg'],
 ['Waldorf',
  'ParkStreet',
  'Chinese,Asian',
  4.5,
  '1000',
  'https://4.bp.blogspot.com/-h0u7bgvLMz0/TyrYbf3JRDI/AAAAAAAAAXk/MzGvFuKFim4/s1600/waldorf.jpg']]

Top 50 Popular Restaurants

In [129]:
#finding mean
restro['Dinner Ratings'] = restro['Dinner Ratings'].apply(lambda x: x[0] if isinstance(x, list) and x else pd.to_numeric(x, errors='coerce'))
restro['Mean Rating'] = restro['Name'].apply(lambda x: restro.loc[restro['Name'].apply(lambda y: x == y), 'Dinner Ratings'].mean())

In [130]:
condition = (restro['Name'] == 'Magnolia') & (restro['Area'] == 'ParkStreet')

if not restro[condition].empty:
    image_url = restro.loc[condition, 'Image'].values[0]
    print(image_url)
else:
    print('Restaurant not found.')

https://d2dzi65yjecjnt.cloudfront.net/406003.jpg

In [131]:
sorted_df = restro.sort_values(by='Mean Rating', ascending=False)

# Get the top 50 restaurants
top_50_restaurants = sorted_df.head(50)

# Excluding 'tags' and 'Mean Rating' columns
columns_to_exclude = ['tags', 'Mean Rating']
filtered_top_50 = top_50_restaurants.drop(columns=columns_to_exclude, errors='ignore')

# Displaying 
for index, row in filtered_top_50.iterrows():
    print(row)


print(filtered_top_50.shape)

Name                                                       Pa Pa Ya
Cuisines                                Asian,Chinese,Japanese,Thai
Area                                                     ParkStreet
Dinner Ratings                                                  4.9
AverageCost                                                    2500
Image             https://assets.architecturaldigest.in/photos/6...
Name: 264, dtype: object
Name                                          Roastery Coffee House
Cuisines          Cafe,American,Continental,Italian,Coffee,Bever...
Area                                                       Gariahat
Dinner Ratings                                                  4.9
AverageCost                                                     800
Image             https://b.zmtcdn.com/data/pictures/9/19088819/...
Name: 276, dtype: object
Name                                                         Ammini
Cuisines                                    SouthIndian,NorthIndian
Area                                                  DesapriyaPark
Dinner Ratings                                                  4.9
AverageCost                                                     500
Image             https://content.jdmagicbox.com/comp/kolkata/z1...
Name: 317, dtype: object
Name                                                    Pawan Putra
Cuisines          NorthIndian,Chinese,Continental,Beverages,Dess...
Area                                                    Kankurgachi
Dinner Ratings                                                  4.9
AverageCost                                                    1000
Image             https://images.venuebookingz.com/28475-1686568...
Name: 400, dtype: object
Name                                                       Yauatcha
Cuisines                                    Asian,Chinese,Cantonese
Area                                           QuestMall,Ballygunge
Dinner Ratings                                                  4.9
AverageCost                                                    2500
Image             https://upload.wikimedia.org/wikipedia/commons...
Name: 404, dtype: object
Name                                                     Monkey Bar
Cuisines          Pizza,Burger,Continental,Chinese,FastFood,Beve...
Area                                           FortKnox,CamacStreet
Dinner Ratings                                                  4.9
AverageCost                                                    1500
Image             https://im1.dineout.co.in/images/uploads/resta...
Name: 449, dtype: object
Name                                                        Zaairah
Cuisines          NorthIndian,Chinese,Mexican,Continental,Desser...
Area                                               Sector1,SaltLake
Dinner Ratings                                                  4.9
AverageCost                                                    1000
Image             https://imgmedia.lbb.in/media/2018/10/5bb61f5c...
Name: 452, dtype: object
Name                                            Sigree Global Grill
Cuisines                                        NorthIndian,Biryani
Area                                 SilverSpringArcade,ScienceCity
Dinner Ratings                                                  4.9
AverageCost                                                    1800
Image             https://aninsatiablefoodie.files.wordpress.com...
Name: 506, dtype: object
Name                                                    Jyoti Vihar
Cuisines                                                SouthIndian
Area                                                    CamacStreet
Dinner Ratings                                                  4.8
AverageCost                                                     300
Image             https://i0.wp.com/yummraj.com/wp-content/uploa...
Name: 0, dtype: object
Name                                                The Bikers Cafe
Cuisines                      Italian,American,Continental,Desserts
Area                                                          Elgin
Dinner Ratings                                                  4.8
AverageCost                                                    1100
Image             https://d4t7t8y8xqo0t.cloudfront.net/resized/7...
Name: 525, dtype: object
Name                                                      Peter Hu?
Cuisines                                                      Asian
Area                                                     ParkStreet
Dinner Ratings                                                  4.8
AverageCost                                                    1200
Image             https://encrypted-tbn0.gstatic.com/images?q=tb...
Name: 3414, dtype: object
Name                                                  The Fatty Bao
Cuisines          Asian,Sushi,Japanese,Chinese,Thai,Momos,Beverages
Area                                           FortKnox,CamacStreet
Dinner Ratings                                                  4.8
AverageCost                                                    1500
Image             https://imgmedia.lbb.in/59791622_1385160238876...
Name: 248, dtype: object
Name                                             Ping's Cafe Orient
Cuisines          Chinese,Thai,HealthyFood,Burmese,Vietnamese,Fi...
Area                                                     ParkStreet
Dinner Ratings                                                  4.8
AverageCost                                                    1500
Image             https://static.wixstatic.com/media/6def36_0ede...
Name: 249, dtype: object
Name                                                       Overdose
Cuisines                                   Chinese,Momos,Asian,Thai
Area                                                  DesapriyaPark
Dinner Ratings                                                  4.8
AverageCost                                                     500
Image             https://content.jdmagicbox.com/comp/kolkata/v8...
Name: 252, dtype: object
Name                                                      Magnolia
Cuisines                           Chinese,NorthIndian,Continental
Area                                                    ParkStreet
Dinner Ratings                                                 4.8
AverageCost                                                   1200
Image             https://d2dzi65yjecjnt.cloudfront.net/406003.jpg
Name: 3487, dtype: object
Name                                                          BarBQ
Cuisines                                  Chinese,NorthIndian,Asian
Area                                                     ParkStreet
Dinner Ratings                                                  4.8
AverageCost                                                    1200
Image             https://lh6.ggpht.com/--yNm3NMmwoo/TxHUIlBScrI...
Name: 87, dtype: object
Name                                                      Peter Cat
Cuisines          NorthIndian,Continental,Mughlai,Desserts,FastF...
Area                                                     ParkStreet
Dinner Ratings                                                  4.8
AverageCost                                                    1000
Image             https://wheelsonourfeet.files.wordpress.com/20...
Name: 148, dtype: object
Name                                           UNO Pizzeria & Grill
Cuisines                Pizza,Italian,Mexican,Continental,Beverages
Area                                                     ParkCircus
Dinner Ratings                                                  4.8
AverageCost                                                     250
Image             https://encrypted-tbn0.gstatic.com/images?q=tb...
Name: 164, dtype: object
Name                                           UNO Pizzeria & Grill
Cuisines                Pizza,Italian,Mexican,Continental,Beverages
Area                                                    Kankurgachi
Dinner Ratings                                                  4.7
AverageCost                                                    1200
Image             https://encrypted-tbn0.gstatic.com/images?q=tb...
Name: 1100, dtype: object
Name                                                        Kaafila
Cuisines                                 NorthIndian,Mughlai,Afghan
Area                                   CityCentre1,Sector1,SaltLake
Dinner Ratings                                                  4.7
AverageCost                                                    1700
Image             https://media-cdn.tripadvisor.com/media/photo-...
Name: 1418, dtype: object
Name                                               Darao Pothik Bor
Cuisines              Chinese,Seafood,NorthIndian,Mughlai,Beverages
Area                                                         DumDum
Dinner Ratings                                                  4.7
AverageCost                                                     900
Image             https://content.jdmagicbox.com/comp/kolkata/f8...
Name: 1245, dtype: object
Name                                 Chittoda's Suruchee Restaurant
Cuisines                                Chinese,Biryani,NorthIndian
Area                                                      Esplanade
Dinner Ratings                                                  4.7
AverageCost                                                     300
Image             https://content3.jdmagicbox.com/comp/kolkata/y...
Name: 894, dtype: object
Name                                                The Irish House
Cuisines                                        Italian,Continental
Area                                           QuestMall,Ballygunge
Dinner Ratings                                                  4.7
AverageCost                                                    1900
Image             https://lh3.googleusercontent.com/ruWqY_ZilpiI...
Name: 658, dtype: object
Name                                                          Artsy
Cuisines          HealthyFood,Sandwich,Beverages,Coffee,Cafe,Des...
Area                                                      MintoPark
Dinner Ratings                                                  4.7
AverageCost                                                     800
Image             https://www.getbengal.com/uploads/story_image/...
Name: 579, dtype: object
Name                                               Bombay Brasserie
Cuisines                               NorthIndian,ModernIndian,Tea
Area                                           QuestMall,Ballygunge
Dinner Ratings                                                  4.7
AverageCost                                                    1900
Image             https://media-cdn.tripadvisor.com/media/photo-...
Name: 526, dtype: object
Name                                             Kouzina Mining Co.
Cuisines          NorthIndian,Biryani,Chinese,Italian,Kebab,Heal...
Area                                               Sector1,SaltLake
Dinner Ratings                                                  4.7
AverageCost                                                    1200
Image             https://im.whatshot.in/img/2020/Mar/kouzina-mi...
Name: 1380, dtype: object
Name                                              Flavours Of China
Cuisines                          Chinese,NorthIndian,Mughlai,Asian
Area                                                     ParkStreet
Dinner Ratings                                                  4.7
AverageCost                                                     900
Image             https://im1.dineout.co.in/images/uploads/resta...
Name: 405, dtype: object
Name                                                    Fly Kouzina
Cuisines          NorthIndian,Chinese,Italian,Kebab,Biryani,Heal...
Area                                               Sector1,SaltLake
Dinner Ratings                                                  4.7
AverageCost                                                    1100
Image             https://lh3.googleusercontent.com/J4RWekMp9lWV...
Name: 1129, dtype: object
Name                                         Gabbar's Bar & Kitchen
Cuisines                      NorthIndian,Chinese,Italian,Beverages
Area                                                     ParkStreet
Dinner Ratings                                                  4.7
AverageCost                                                    1500
Image             https://lh3.googleusercontent.com/Eyp-A_qmVIm1...
Name: 956, dtype: object
Name                                                   Urban Masala
Cuisines          NorthIndian,Chinese,Italian,FastFood,Desserts,...
Area                                                       LakeTown
Dinner Ratings                                                  4.7
AverageCost                                                     700
Image             https://media-cdn.tripadvisor.com/media/photo-...
Name: 1255, dtype: object
Name                        Friends Of Pho - Asian Fine Dining Club
Cuisines                                        Bengali,NorthIndian
Area                                                         DumDum
Dinner Ratings                                                  4.7
AverageCost                                                     150
Image             https://media-cdn.tripadvisor.com/media/photo-...
Name: 1294, dtype: object
Name                                                   Afraa Lounge
Cuisines          Italian,Pizza,Pasta,Continental,NorthIndian,As...
Area                                   CityCentre1,Sector1,SaltLake
Dinner Ratings                                                  4.7
AverageCost                                                    1800
Image             https://neotiahospitality.com/mainframe_ambuja...
Name: 1572, dtype: object
Name                                      Tamara - Pipal Tree Hotel
Cuisines                            NorthIndian,Chinese,Continental
Area                                         PipalTreeHotel,NewTown
Dinner Ratings                                                  4.7
AverageCost                                                    1800
Image             https://media-cdn.tripadvisor.com/media/photo-...
Name: 1620, dtype: object
Name                                                    Calcutta 64
Cuisines          Sandwich,Burger,Continental,Wraps,Seafood,Thai...
Area                                               Sector1,SaltLake
Dinner Ratings                                                  4.7
AverageCost                                                     850
Image             https://images.mid-day.com/images/images/2022/...
Name: 1187, dtype: object
Name                        Friends Of Pho - Asian Fine Dining Club
Cuisines          Chinese,Thai,Vietnamese,Malaysian,Asian,NorthI...
Area                                                     ChinarPark
Dinner Ratings                                                  4.7
AverageCost                                                    1700
Image             https://www.google.com/url?sa=i&url=https%3A%2...
Name: 1565, dtype: object
Name                                 chittoda's Suruchee Restaurant
Cuisines                 FastFood,Rolls,Chinese,Biryani,NorthIndian
Area                                                        NewTown
Dinner Ratings                                                  4.7
AverageCost                                                     350
Image             https://encrypted-tbn0.gstatic.com/images?q=tb...
Name: 1097, dtype: object
Name                                            Chili's Grill & Bar
Cuisines          Mexican,Italian,American,Tex-Mex,Seafood,Bever...
Area                                           QuestMall,Ballygunge
Dinner Ratings                                                  4.8
AverageCost                                                    1200
Image             https://lh3.googleusercontent.com/bxS_XeV-eEYc...
Name: 146, dtype: object
Name                                            Chili's Grill & Bar
Cuisines          Mexican,Italian,American,Tex-Mex,Seafood,Bever...
Area                                            AcropolisMall,Kasba
Dinner Ratings                                                  4.6
AverageCost                                                    1200
Image             https://kitchenofdebjani.com/wp-content/upload...
Name: 3338, dtype: object
Name                                               My Big Fat Belly
Cuisines          Burger,Pizza,Pasta,Continental,Italian,Beverag...
Area                                                     Bhawanipur
Dinner Ratings                                                  4.7
AverageCost                                                     600
Image                                                           NaN
Name: 907, dtype: object
Name                                               My Big Fat Belly
Cuisines          Burger,Pizza,Pasta,Continental,Italian,Beverag...
Area                                                   PicnicGarden
Dinner Ratings                                                  4.6
AverageCost                                                     350
Image             https://www.google.com/url?sa=i&url=https%3A%2...
Name: 1965, dtype: object
Name                                               My Big Fat Belly
Cuisines                                                    Bengali
Area                                               Sector5,SaltLake
Dinner Ratings                                                  4.7
AverageCost                                                     100
Image             https://media-cdn.tripadvisor.com/media/photo-...
Name: 1098, dtype: object
Name                                     Santa's Fantasea
Cuisines          Seafood,Chinese,Cantonese,Thai,Desserts
Area                                     Sector1,SaltLake
Dinner Ratings                                        4.5
AverageCost                                          1000
Image                                                 NaN
Name: 1128, dtype: object
Name                                               Santa's Fantasea
Cuisines                    Seafood,Chinese,Cantonese,Thai,Desserts
Area                                                        Golpark
Dinner Ratings                                                  4.8
AverageCost                                                    1000
Image             https://d4t7t8y8xqo0t.cloudfront.net/resized/7...
Name: 215, dtype: object
Name                                                Cafe I Can Flyy
Cuisines          Cafe,Italian,FastFood,Salad,Beverages,Desserts...
Area                                                          Hazra
Dinner Ratings                                                  4.6
AverageCost                                                     800
Image             https://b.zmtcdn.com/data/reviews_photos/f95/c...
Name: 4494, dtype: object
Name                                                      RoadHouzz
Cuisines          Italian,American,NorthIndian,Mughlai,Chinese,K...
Area                                                 SouthernAvenue
Dinner Ratings                                                  4.6
AverageCost                                                    1500
Image             https://b.zmtcdn.com/data/pictures/2/18749772/...
Name: 2796, dtype: object
Name                                                          Kopai
Cuisines                                    Bengali,Chinese,Biryani
Area                                                 SouthernAvenue
Dinner Ratings                                                  4.6
AverageCost                                                     700
Image             https://b.zmtcdn.com/data/pictures/3/18650723/...
Name: 2791, dtype: object
Name                              Route 29 Cafe - A Unit Of Macazzo

#WEBSITE

In [132]:
import pickle

In [133]:
pickle.dump(restro,open('restro.pkl','wb'))

In [134]:
new_df['Area'].values

array([list(['CamacStreet']), list(['ParkStreet']), list(['ParkCircus']),
       ..., list(['Kankurgachi']), list(['Sealdah']),
       list(['ParkCircus'])], dtype=object)

In [136]:
#exporting
pickle.dump(new_df,open('new_df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(filtered_top_50,open('filtered_top_50.pkl','wb'))